*{
	margin:0;
	border: 0;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 300;
}

html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

    background: #373549 url(./img/brick.png) no-repeat left center;
}

p{
	font-size: 22px;
	margin-bottom: 30px;
	color: #b7b9a7;
	line-height: 32px;
	font-weight: lighter;
}

span{
	color: #eec179;
	text-decoration: underline;
	cursor: pointer;
	z-index: 6666;
}

span :hover{
	color: #e49443;
}


#relation{
	position: fixed;
	left:55px;
	top:40px;
	background: url(./img/love-tag.png);
	width:158px;
	height:66px;
	overflow: hidden;
	z-index: 6666;
}

#re-text{
	position: absolute;
	font:Futura Medium;
	font-size: 40px;
	color:#eec179;
	margin-left:90px;
	padding-top: 8px;
}

.hint-text{
	text-decoration: none;
	font-size: 16px;
	position: fixed;
	font-weight: light;
	top:45px;
	left:250px;
	line-height: 25px;
	color: #eec179;
}

.left-module{
	width:650px;
	height:100%;
	position: relative;
	float: left;
}

.mid-module{
	background-color: #404057;
	width:60px;
	height:100%;
	position: relative;
	float: left;
}

.right-module{
	width: calc(100% - 710px);
	height:100%;
	position: relative;
	overflow: hidden;
}

#day1-1{
	height:100%;
	width: 100%;
}

#day1-1pic{
	position: absolute;
	background: url(./img/day1-door.png);
	width:439px;
	height:588px;
	margin-left:50px;
	bottom: 0;
}

#day1-mom{
	position: absolute;
	width:218px;
	height:136px;
	bottom: 380px;
	left:350px;
	display: none;
}

#day1-button{
	position: absolute;
	bottom: 0px;
	left:310px;
	z-index: 666;
}

#day1-button :hover{
	width: 275px;
	height: 181px;
}

#day1-1text{
	height: 450px;
	position: absolute;
	bottom: 20px;
	width: calc(100% - 80px);
	margin-left: 20px;
	display: none;
}

#day1-1title{
	height: 81px;
	background: url(./img/day1-title.png);
	position: absolute;
	width: 193px;
	top:60px;
	right:80px;
}

p:nth-child(1) {
    animation: fade-in 1s ease-in forwards;
    transform: translateY(1em);
    opacity: 0;
}

p:nth-child(2) {
    animation: fade-in 1s ease-in forwards;
    transform: translateY(1em);
    animation-delay: 0.3s;
    opacity: 0;
}

p:nth-child(3) {
    animation: fade-in 1s ease-in forwards;
    transform: translateY(1em);
    animation-delay: 0.6s;
    opacity: 0;
}

p:nth-child(4) {
    animation: fade-in 1s ease-in forwards;
    transform: translateY(1em);
    animation-delay: 0.9s;
    opacity: 0;
}

p:nth-child(5) {
    animation: fade-in 1s ease-in forwards;
    transform: translateY(1em);
    animation-delay: 1.2s;
    opacity: 0;
}

p:nth-child(6) {
    animation: fade-in 1s ease-in forwards;
    transform: translateY(1em);
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes come-in{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
 }


@keyframes fade-in{
  from {
    padding-top: 20px;
    opacity: 0;
  }

  to {
    padding-top: 0;
    opacity: 1;
  }
 }



